.photo{
    float: right;
    height: 20%;
    width: 20%;
    /*position : right;*/
}

.liste{
    list-style: none;
    padding: 2px;
}

.page{
    width: 780px;
    margin: auto;
    font-size: 16px;
    font-family: 'Source sans Pro', Tahoma, sans-serif, Calibri;
}

.infophoto{
    height: 125px;
}

h1{
    color: red;
    text-align: center;
    font-weight: 700;
}

h2{
    color: blue;
    text-align: center;
}